.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;  
}

/* Tablet & Desktop */
@media (min-width: 768px) {
  .contact-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}