Body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;

}

header {
    background-color: #111111;

}

main {
    flex: 1;
    justify-content: center;
    align-items: center;
}

footer {
    height: 150px;
    padding: 2rem;
    bottom: 0;
    background-color: #111111;
    color: #fff;
    

}