@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

Body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header {
    background-color: #111111;    
}

main {
    flex: 1;
    justify-content: center;
    align-items: center;
}

footer {
    height: 150px;
    padding: 2rem;
    bottom: 0;
    background-color: #111111;
    color: #fff;

}